<html>
  <app-my-sidebar></app-my-sidebar>
  <br />
  <br />
  <br />
  <br><br>
  <div class="container">
    <table class="table table-striped rounded">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Marca</th>
          <th scope="col">Modelo</th>
          <th scope="col">Año</th>
          <th scope="col">Color</th>
          <th style=" width: 30%;" scope="col">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let coche of coches, index as i">
          <th scope="row">{{i+1}}</th>
          <td>{{coche.marca}}</td>
          <td>{{coche.modelo}}</td>
          <td>{{coche.anio}}</td>
          <td>{{coche.color}}</td>
          <td>
                  <a class="btn btn-outline-secondary mx-1" style="padding: right 10px;" (click)="editCar(coche)">Editar</a>
                  <a class="btn btn-outline-secondary mx-1" (click)="deleteCar(coche)">Borrar</a>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
  </div>
  <div class="bottom"></div>
</html>