<br />
<br />
<nav class="nav nav-pills justify-content-end">
    <li class="nav-item">
        <a class="nav-link active" href="#addCar">Añadir Coche</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#logout">Cerrar Sesión</a>
    </li>
</nav>
<br>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Marca</th>
        <th scope="col">Modelo</th>
        <th scope="col">año</th>
        <th scope="col">color</th>
      </tr>
    </thead>
