<html>

<body>
  <br /><br /><br />
  <div class="container w-25 shadow-lg p-3 mb-5 bg-body rounded">
    <br />
    <hr />
    <div align="center">
      <h1>Register</h1>
      <p>Introduzca un correo y una contraseña</p>
    </div>
    <hr />
    <div class="form-floating mt-n1">
      <input type="email" class="form-control" id="email" [formControl]="loginEmail" (keyup)="checkEmail()" />
      <label for="username">Correo electrónico</label><br />
    </div>
    <div *ngIf="loginUsername.touched === true && !loginUsername.valid">
      <small style="color: rgb(255, 90, 90)">Inserte un correo válido</small>
    </div>
    <div *ngIf="emailExists === true">
        <small style="color: rgb(255, 90, 90)">Inserte otro email, {{loginEmail.value}} ya existe. </small>
      </div>
    <div class="form-floating mt-n1">
        <input type="email" class="form-control" id="username" [formControl]="loginUsername" (keyup)="checkUsername()" />
        <label for="username">Nombre de usuario</label><br />
      </div>
      <div *ngIf="loginUsername.touched === true && !loginUsername.valid">
        <small style="color: rgb(255, 90, 90)">Inserte un nombre de usuario válido, mínimo 4 caracteres</small>
      </div>
      <div *ngIf="usernameExists === true">
        <small style="color: rgb(255, 90, 90)">Inserte otro nombre de usuario válido, {{loginUsername.value}} ya existe. </small>
      </div>
    <div class="form-floating mt-n2">
      <input type="password" class="form-control" id="password1" [formControl]="loginPassword" />
      <label for="password1">Contraseña</label><br />
      <div class="mt-2" *ngIf="loginPassword.touched === true && !loginPassword.valid">
        <small style="color: rgb(255, 90, 90)">Mínimo se necesitan 4 caracteres</small>
      </div>
      <nav class="navbar">
          <input class="btn btn-outline-primary" type="submit" value="Registrarse"
          [disabled]="!loginPassword.valid || !loginUsername.valid || emailExists === true || usernameExists === true" (click)="onClick()" />
      </nav>
      <hr />
    </div>
  </div>
</body>
<div class="fixed-bottom"></div>
</html>