<app-my-sidebar></app-my-sidebar>
<br />
<br />
<br />
<br /><br />
<div class="container w-50 shadow-lg p-3 mb-5 bg-body rounded">
  <div class="center">
    <div class="card mb-3 border-light" style="max-width: 540px">
      <div class="row g-0">
        <div class="col-md-5">
          <img
            src="https://cdn-icons.flaticon.com/png/512/1144/premium/1144709.png?token=exp=1657007853~hmac=744456e4c4e0e4a473f08f01b066928b"
            class="img-fluid rounded-start"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Mi perfil</h5>
            <p class="card-title">Correo electrónico:</p>
            <p class="card-text">{{ email }}</p>
            <p class="card-title">Nombre de usuario:</p>
            <p class="card-text">{{ username }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
