html {
    height: 753px;
    background-color: #abf994;
}
body {
  height: 600px;
  background-color: #c1ffc8;
  color: #83fc71;
}

.btn-outline-primary{
    color: #7371fc;
    background-color: #ffffff00;
    border-color: #7371fc;
}
.fixed-bottom{
    background-color: #CDC1FF;
}

.alert-danger{
    color: #fc7171;
    background-color: #ffffff00;
    border-color: #fc7171;
}

.alert{
    display: inline-block;   
}

.mt-n1 {
    margin-bottom: -1rem !important;
  }

.mt-2 {
    margin-top: -1rem !important;
    margin-bottom: -0.25rem !important;
}

:disabled{
    color: #2b2b2f;
    border-color: #2b2b2f;
}