<br>
<br>
<body style="background-color:#0d6efd;">
<div class="container w-25 shadow-lg p-3 mb-5 bg-body rounded">
  <br>
  <hr>
  <div align="center">
    <h1>Login</h1>
    <p>Introduzca su usuario y contraseña</p>
  </div>
  <hr>
  <div class="form-floating">
    <input
      type="text"
      class="form-control"
      id="username"
      [(ngModel)]="usuario.username"
    />
    <label for="username">Usuario</label><br />
  </div>

  <div class="form-floating">
    <input
      type="password"
      class="form-control"
      id="password1"
      [(ngModel)]="usuario.password"
    />
    <label for="password1">Contraseña</label><br />
    <input class="btn btn-outline-primary" type="submit" value="Acceder" (click)="inicioSesion(usuario.username, usuario.password)"/>

    <div *ngIf="existeUsuario===false ;">Usuario o contraseña incorrecta</div>
    <div *ngIf="existeUsuario===true ;">Usuario correcto</div>
  </div>
</div>
</body>