<br>
<br>
<body style="background-color:#7371fc;">
<div class="container w-25 shadow-lg p-3 mb-5 bg-body rounded">
  <br>
  <hr>
  <div align="center">
    <h1>Login</h1>
    <p>Introduzca su usuario y contraseña</p>
  </div>
  <hr>
  <div class="form-floating">
    <input
      type="text"
      class="form-control"
      id="username"
      [formControl]="loginUsername"
    />
    <label for="username">Usuario</label><br />
  </div>

  <div class="form-floating">
    <input
      type="password"
      class="form-control"
      id="password1"
      [formControl]="loginPassword"
    />
    <label for="password1">Contraseña</label><br />
    <input class="btn btn-outline-primary" type="submit" value="Acceder" [disabled]="(!loginPassword.valid) || (!loginUsername.valid)" (click)="inicioSesion()"/>
    <div *ngIf="existeUsuario===false ;">Usuario o contraseña incorrecta</div>
  </div>
</div>
</body>